@model JuegoNumero.Models.Jugador
@{
    ViewData["Title"] = "Juego Numeros";
}

<div class="text-center">
    

    <h1 class="display-4">Juego Numeros</h1>

    <form method= "post">

        <input name="nombre1" placeholder="Ingrese nombre Jugador1"></input>
        <br />
        <input name="nombre2" placeholder="Ingrese nombre Jugador2"></input>
        <br />
        <input type="submit" value="Ingresar"/> 

    </form>
    
</div>

